body{
    background-color: rgb(38, 49, 53);
  }
  
  
  .expense-tracker {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  h1 {
    font-size: 4rem;
    color: white;
  
  }
  h2 {
    font-size: 2rem;
    color: white;
  
  }
  
  button {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  
  }
  
  .add-button {
    margin-top: 20px;
    background-color: rgb(45, 206, 45);
  }
  
  .add-button:hover {
    background-color: rgb(33, 160, 33);
  }
  
  .delete-button {
    background-color: rgb(206, 45, 45);
  }
  
  .delete-button:hover {
    background-color: rgb(165, 34, 34);
  }
  
  .move-button {
    background-color: rgb(45, 69, 206);
  }
  
  .move-button:hover {
    background-color: rgb(27, 67, 121);
  }
  input[type="text"], input[type="number"] {
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid rgba(167, 167, 167, 0.397);
    border-radius: 5px;
    color:rgba(0, 0, 0, 0.452);
    margin-bottom: 25px;
  }
  
  ol {
    padding: 0;
  }
  li {
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0 0% 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .text {
    flex: 1;
    padding: 0 20px;
  }
  
  .delete-button, .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
  }
  
  .income-expense {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    color:black;
    width: 50%;
    margin-bottom: 30px;
    border-radius: 20px;
  }
  .income {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .income h4 {
    margin: 0;
    padding: 10px;
  }
  .expense {
    display:flex;
    flex-direction: column;
    margin: 0 10px;
  }
  
  .expense h4 {
    margin: 0;
    padding: 10px;
  }
  
  .colorbar-positive {
    background-color: lime;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
  }
  .colorbar-negative {
    background-color: red;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100%;
  }